
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-green:#C6F806;
}
.blue{
    color:#3366FF;
}
.container{
    width:100vw;
    background-color: #171717;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;

}
.nav-container{
    padding-top: 7vh;
    
   margin-inline: auto;
    width:90vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-flex{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    
}
.logo-flex h1{
    color:white;
    font-size: medium;
}
.logo-flex img{
    width:7vw;
    height:5vw;
    gap:2rem;

}
.link-flex{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    border: 1px solid #C6F806;
    border-radius: 16px;
    gap:2rem;
    padding-inline: 2rem;
    padding-block: .4rem;
    
}
.link-flex a{
    color:white;
    text-decoration: none;
}
.button-flex {
    display: flex;
    justify-content: space-between;
    align-items:  center;
    gap:2rem;

    /* width:10vw; */
}
.button-flex .white{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding:.6rem;
    border-radius: 16px;
  
}
.button-flex .fill{
    background-color: #3366FF;
    border: none;
    color: white;
    padding:.6rem;
    border-radius: 16px;
}
.landing-container{
    height: 90vh;
    width:100vw;
}
.landing-flex{
    height: 80vh;
    margin-top: 5vh;
    width:100vw;
    display: flex;
}
.landing-text{
    width:60%;
    height: 100%;
    padding-left:3rem;
}
.landing-text h1{
    color:var(--primary-green);
    margin:1rem;
    font-size: 1.5rem;
}
.landing-text p{
    color:white;
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 900;
    word-spacing: .8rem;
}
.landing-span{
    font-size:3.7rem;
    text-transform: uppercase;
    font-weight: 900;
    background-color: var(--primary-green);
    padding: .3rem;
    border-radius: 16px;
    color:black;
    display: inline-block;

    width:max-content;
    font-weight: bold;
    transform: rotateZ(-5deg);
    margin-right: 3rem;
    position: relative;
}
.gen-span{
    margin-left: 4rem;
}
.landing-span::before{
    content:'';
    background-image: url('../../assets/star.png');
    background-position: center;
    background-size: contain;
    height:50px;
    overflow: hidden;
    width:50px;
    position: absolute;
    top:5rem;
    display: block;
    z-index: 20;
}
.landing-image{
    width:40%;
    height: 90vh;
    position: relative;

}

.landing-image img{
    width:15rem;
    display: block;
    height:10rem;
    border-radius:1rem;
}
#img1{
    position: absolute;
    top:3rem;
    left:-2rem;
    z-index: 1;
}
#img1::after{
    content:"";
    position: absolute;
    top:0;
    
    z-index: -1;
    width:15rem;
    height: 10rem;
    background-color: var(--primary-green);
    border-radius: 1rem;
    transform: rotateZ(10deg)
}
#img2{
    position: absolute;
    top:12rem;
    left:5rem;
    z-index: 2;
}
#img2::after{
    content:"";
    position: absolute;
    top:0;
    
    z-index: -1;
    width:15rem;
    height: 10rem;
    background-color: var(--primary-green);
    border-radius: 1rem;
    transform: translateY(1rem) rotateZ(10deg);
}

#img3{
    position: absolute;
    top:20rem;
    left:-8rem;
    z-index: 3;
}
#img3::after{
    content:"";
    position: absolute;
    top:0; 
    z-index: -1;
    width:14rem;
    height: 10rem;
    background-color: var(--primary-green);
    border-radius: 1rem;
    transform: rotateZ(-30deg);
}
.landing-footer{
    width:100vw;
    height: 10vh;
    display: flex;
}
.footer-left{
    width:50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:white;
}
.footer-right{
    width:50%;
    color:white;
    display: flex;
    align-items: center;
}
